.card {
    display: grid;
    grid-template-columns: 20% 20% 15% 10% 15% 20%;
    grid-template-rows: 150px;
    grid-gap: 5px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}